# Ignore node_modules, falls für Build-Prozesse verwendet
/node_modules/

# Ignoriere Build- und Distribution-Ordner
/dist/
/build/

# Editor- und IDE-spezifische Ordner und Dateien
.vscode/
.idea/

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db

# WordPress Debug-Log
debug.log

# Ignore temporäre Dateien
*.tmp
*.temp

# Lokale Konfigurationsdateien, falls vorhanden (z.B. für lokale Tests)
local-config.php

# Falls du Composer verwendest, kannst du eventuell vendor ausschließen
/vendor/

# Falls du Cache-Dateien oder Backup-Dateien hast
*.bak
*.backup

# Weitere spezifische Dateien, die durch den Build-Prozess oder Plugins generiert werden
*.log

# Projektspezifische Dateien
generate_project_dump.sh
project_dump.txt
